@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    scroll-behavior: smooth;
    color-scheme: light;
  }
  :root.dark {
    color-scheme: dark;
  }
}

@variant dark (&:where(.dark, .dark *));

